<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465706004001-rqb46ad3mi20deeso7t24i1omtfl09p7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465706004001-rqb46ad3mi20deeso7t24i1omtfl09p7</string>
	<key>API_KEY</key>
	<string>AIzaSyDQNwEXCtVepbW8PQT0Vhsg6jiiXOSnhFg</string>
	<key>GCM_SENDER_ID</key>
	<string>465706004001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexanderpolischuk.ToDoListFirebase</string>
	<key>PROJECT_ID</key>
	<string>todolistfirebase-f032d</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistfirebase-f032d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465706004001:ios:b21bcc1acd11a1fb983d60</string>
</dict>
</plist>